<!DOCTYPE html>

<html>
    
    <head>
        <meta name="contentType" content="research">
        <meta name="keywords" content="economicCapital">
        <meta name="description" content="Placeholder for Economic Capital">
        <% include  assets/includes/header %>
       
    </head>

    <body>

        <div class='navbar-fixed-top'>

            <div class="container title lead">
                <div class='col-xs-12 col-md-offset-2 col-md-8 '> 
                    <h1>Economic Capital: Placeholder</h1>
                </div>
            </div>

        </div>
        <div class='container'> 
            <div class='txt  col-xs-12 col-md-offset-2 col-md-8'>
                One of my desires is to create a framework in which most of a bank's risk including market, liquidity, credit, and operational risk can be parsimoniously and jointly modeled.  Such a model interests me for four reasons:
                <ul>
                <li>It is a stimulating intellectual challenge: not just in modeling and measuring the diverse risk areas, but in convincing senior management and regulators that jointly modeling the risks is an efficacious method.
                <li>It will decrease regulatory scrutiny; freeing up resources for revenue producing activities. </li>
                <li>It will require the bank to have its data in order.  The positive externalities of having useful and actionable data are immeasurable. </li>
                <li>Finally, and most importantly, it will allow the bank to more actively manage and leverage risk.  This will increase the confidence investors have in the bank and increase the long term return to shareholders. </li>
            </div>

        </div>

        <% include  assets/includes/menu %><!--side menu -->

    </body>

    <% include  assets/includes/footerScripts %> <!--final includes for side menu -->

    <script>
        
    </script>

</head>


