<!DOCTYPE html>

<html>
    
    <head>
        <!--<meta name="keywords" content="projects">-->
        <meta name="contentType" content="research">
        <meta name="keywords" content="research">
        <meta name="description" content="Research">
        <% include  assets/includes/header %>
       
    </head>

    <body>

        <div class='navbar-fixed-top'>

            <div class="container title lead">
                <div class='col-xs-12 col-md-offset-2 col-md-8 '> 
                    <h1>Research</h1>
                </div>
            </div>

        </div>
        <div class='container'>
            <div class=' col-xs-12 col-md-offset-2 col-md-8'>
                <div class='txt'>
                    My research is a combination of major and small projects which pique my interest.  My interests lie in stochastic calculus, asset and option modeling, and credit risk modeling.  
                </div>
            </div>
            <% include  assets/includes/linkage %><!--sub sites -->
        </div>

        <% include  assets/includes/menu %><!--side menu -->

    </body>

    <% include  assets/includes/footerScripts %> <!--final includes for side menu -->

    <script>
        
    </script>

</head>